doctype html
html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title=title
        style 
            include ../public/style.css

    body 
        h1=title
        img(src=picture, width=width, height="300")
        br
        div=text
        br
        a(href=button_link) 
            button=button_text
